@font-face {font-family: "iconfont";
  src: url('../fonts/iconfont.eot'); /* IE9 */
  src: url('../fonts/iconfont.eot') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/40e8eca9e09f487db98f6b56b5269fcd.woff') format('woff2'),
  url('../fonts/iconfont.woff') format('woff'),
  url('../fonts/iconfont.ttf') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url('../fonts/iconfont.svg') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-search:before {
  content: "\e651";
}

.icon-top:before {
  content: "\e62e";
}

.icon-pic:before {
  content: "\e719";
}

.icon-back:before {
  content: "\e60c";
}

.icon-video:before {
  content: "\e67a";
}

.icon-zhibo:before {
  content: "\e621";
}

